<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h3 class="card-title">OUR PROGRAMMES</h3>
        </div>
        <div class="card-body">
            <div class="courses">
                <div class="courses-1">
                    <h3 style="color: #ff9800;">PROFESSIONAL PROGRAMMES</h3>

                    <div class="lists">
                        <ul>
                            <li>Vocational Certificate in Blockchain Technology</li>
                            <li>Accounting Technicians Diploma (ATD)</li>
                            <li>Accounting Technicians Diploma (ATD)</li>
                            <li>Certified Forensic Fraud Examiner (CFFE)</li>
                            <li>Certified Human Resource Professional (CHRP)</li>
                            <li>Certified Public Accountants (CPA)</li>
                            <li>Quickbooks Accounting</li>
                            <li>Vocational Certificate in Graphics Design</li>
                            <li>Certified Procurement and Supply Professional (CPSP-K)</li>
                        </ul>
                    </div>
                    
                

                </div>

                <div class="courses-2">
                    <h3 style="color: #ff9800;">UNDERGRADUATE PROGRAMMES</h3>
                    <div class="lists">
                        <ul>
                            <li>Bachelor of Business Information Technology</li>
                            <li>Bachelor of Arts Counselling Psychology</li>
                            <li>Bachelor of Arts in Journalism and Digital Media</li>
                            <li>Bachelor of Commerce</li>
                            <li>Bachelor of Education Early Childhood Education</li>
                            <li>Bachelor of International Business Management</li>
                            <li>Bachelor of Procurement and Logistics</li>
                            <li>Bachelor of Science in Actuarial Science</li>
                            <li>Bachelor of Science in Actuarial Science</li>
                            <li>Bachelor of Science in Economics & Statistics</li>
                            <li>Bachelor of Science in Information and Communications Technology</li>
                            <li>Bachelor of Science in Information Security and Forensics</li>
                            <li>Bachelor of Science in Information Technology</li>
                            <li>Bachelor of Science in Software Development</li>
                        </ul>
                    </div>

                </div>



                <div class="courses-3">
                    <h3 style="color: #ff9800;">MASTERS PROGRAMMES</h3>
                    <div class="lists">
                        <ul>
                            <li>Master of Arts Counselling Psychology</li>
                            <li>Master of Business Administration (MBA)</li>
                            <li>Master of Business Administration Corporate Management</li>
                            <li>Master of Business Administration</li>
                            <li>Master of Business Administration Marketing</li>
                            <li>Master of Education Leadership and Management</li>
                            <li>Master of Educational Administration, Curriculum and Policy Studies</li>
                        </ul>
                    </div>

                </div>
            </div>
            
               
        </div>
    </div>
</div>
