<div class="main-content">
  <div class="container-fluid">
      

        
            <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">

              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <!-- <i class="material-icons">content_copy</i> -->
                          <img src="assets/img/studs.png" />

                      </div>
                      <p class="card-category">New Students</p>
                      <h3 class="card-title">412</h3>
                  </div>
                  <div class="card-footer">
                    
                    <p>10% higher than last year</p>
                      <div class="stats">
                          <a style="color: #fea21e" routerLink="/table-list">Learn More...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Total Campuses</p>
                      <h3 class="card-title">4</h3>
                  </div>
                  <div class="card-footer">
                    <p> 7% higher than last year</p>
                      <div class="stats">
                        <a  style="color: #5cb360" routerLink="/user-profile">Learn More...</a>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <!--<i class="material-icons">info_outline</i>-->
                          <img src="assets/img/courses.png" />

                      </div>
                      <p class="card-category">Total Courses</p>
                      <h3 class="card-title">58</h3>
                  </div>
                  <div class="card-footer">
                    <p>14% higher than last year</p>
                      <div class="stats">
                        <a  style="color: #ee514e" routerLink="/typography">Learn More...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <!-- <i class="fa fa-twitter"></i>  --> 
                          <img src="assets/img/lectures.png" />
                      </div>
                      <p class="card-category">Total Lectures</p>
                      <h3 class="card-title">33</h3>
                  </div>
                  <div class="card-footer">
                    <p> 6% higher than last year</p>
                      <div class="stats">
                        <a  style="color:#19bdd1 " routerLink="/icons">Learn More... </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>


<!-- CHART SECTION-->
          

      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header  card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                      
                      
                  </div>
                  
                  <div class="card-body">
                      <h4 class="card-title">Average Class Attendance</h4>
                      <p class="card-category"> Students activeness in school
                          .</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <a  style="color: #5cb360" routerLink="/table-list"><i class="material-icons"></i> Learn More >> </a> 
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                      

                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Student Perfomance Chart</h4>
                      <p class="card-category"> Grades and Academic Perfomance </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <a style="color: #fea21e"  routerLink="/table-list"><i class="material-icons"></i> Learn More >> </a> 
                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                      
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Students Survey</h4>
                      <p class="card-category"> New students and Old students </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <a style="color: #ee514e" routerLink="/table-list"><i class="material-icons"></i> Learn More >> </a> 
                      </div>
                  </div>
              </div>
          </div>
      </div>


<!--SCHOOLS SECTOR-->



      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header  ">
                    
                      <img src="assets/img/sot2.png" />
                      
                      
                  </div>
                  
                  <div class="card-body">
                      <h4 class="card-title">SCHOOL OF TECHNOLOGY</h4>
                      <p class="card-category">From Morning Prep To Coding Web
                          .</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <a href=""><i class="material-icons"></i> Apply Now >> </a> 
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header">
                      
                      <img  src="assets/img/sobf.png"/>
                      

                  </div>
                  <div class="card-body">
                      <h4 class="card-title">SCHOOL OF BUSINESS</h4>
                      <p class="card-category">From Set Books To Cheque Books</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <a href=""><i class="material-icons"></i> Apply Now >> </a> 
                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header ">
                      
                      <img  src="assets/img/soef.png" alt="school of education"/>
                      
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">SCHOOL OF EDUCATION</h4>
                      <p class="card-category">From Drama Festivals To Best Actor Awards</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <a href=""><i class="material-icons"></i> Apply Now >> </a> 

                      </div>
                  </div>
              </div>
          </div>
      </div>

<!-- Events and About School Section -->

      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                           <h4> ENROL NOW to our Competitive Courses :- </h4>  

                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                              <p>
                                KCA University (KCAU) is a private Chartered, 
                                non-profit institution. We offer competitive courses
                                 including:- Bachelor of Commerce with various 
                                 Specialization, Bachelor of Science in IT, Bachelor 
                                 of Business Information System, MBA (Corporate), MSC
                                  Commerce and Diploma courses

                              </p>
                              <p>
                                Research and Innovation is one of our strategic pillars 
                                as a university. KCA  University is considered to be a center
                                of excellence in teaching and research. We wish to enhance this 
                                by providing facilities and support for innovative research and
                                extension services. 
                              </p>

                              <p>
                                We want to provide a conducive environment for the continuous 
                                education and improvement of staff in their academic and professional 
                                careers. We aim to forge academic partnerships and links with other academic
                                 institutions, the professions, industry and commerce. Kindly call:-+254 715 
                                 532187 for More Information.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Upcoming Events Calendar</h4>
                  </div>

                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th></th>
                              <th>Name</th>
                              
                              <th>Date</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Matriculation Ceremony</td>
                                  
                                  <td>02/06/2024</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Fresher's Party</td>
                                  
                                  <td>07/06/2024</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Graduation Ceremony</td>
                                  
                                  <td>12/07/2024</td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>Exams Commencement</td>
                                  
                                  <td>14/07/2024</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <!-- Last Section-->
      
      <div class="row">
          

          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Exams Schedule</h4>
                  </div>

                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th></th>
                              <th>Name</th>
                              
                              <th>Date</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>1<sup>st</sup> Year Exams</td>
                                  
                                  <td>17/07/2024 | 21/07/2024</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>2<sup>nd</sup> Year Exams</td>
                                  
                                  <td>22/07/2024 | 27/07/2024</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>3<sup>rd</sup> Year Exams</td>
                                  
                                  <td>28/07/2024 | 01/08/2024 </td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>4<sup>rth</sup> Year Exams</td>
                                  
                                  <td>02/08/2024 | 06/08/2024</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-success">
                    <div class="nav-tabs-navigation">
                         <h4> Research, Innovation and Incubation </h4>  

                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <p>
                                At KCA University, Research and Innovation is one of our strategic pillars
                                in the academic vision. As a renowned center of excellence in both teaching
                                and research, we are committed to fostering a culture of innovation and 
                                advancing knowledge in various fields. 
                            </p>
                            <p>
                                Our focus areas for research encompass
                                Education and Learning, Business, Governance and Entrepreneurship, Innovation
                                and Technology, Natural Resources and Climate Action, as well as Green and
                                Creative Economy. With state-of-the-art facilities and unwavering support 
                                for research and extension services, we aim to drive impactful discoveries
                                and contribute to the advancement of society.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
  </div>
</div>
