<div class="main-content">
  <div class="container-fluid">
      
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
                <div class="card-header  ">
                  
                    <img src="assets/img/main1.jpeg" />
                    
                    
                </div>
                
                <div class="card-body">
                    <h4 class="card-title">MAIN CAMPUS</h4>
                    <p class="card-category">KCA University's Main Campus, 
                        situated in the serene Ruaraka area of Nairobi, serves 
                        as the flagship location for the university's diverse academic
                         offerings. This campus is renowned for its state-of-the-art facilities,
                          including modern lecture halls, extensive libraries, and well-equipped computer labs. 
                        </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href=""><i class="material-icons"></i> Apply Now >> </a> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    
                    <img  src="assets/img/town3.jpg"/>
                    

                </div>
                <div class="card-body">
                    <h4 class="card-title">TOWN CAMPUS</h4>
                    <p class="card-category">Located in the bustling heart of Nairobi, 
                        the Town Campus of KCA University offers convenience and accessibility 
                        for working professionals and students who prefer the urban environment. 
                        This campus is strategically positioned to provide flexible learning schedules, 
                        including evening and weekend classes, catering to those balancing education with 
                        work commitments. </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                      <a href=""><i class="material-icons"></i> Apply Now >> </a> 
                       
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
                <div class="card-header  ">
                  
                    <img src="assets/img/kitengela.jpg" />
                    
                    
                </div>
                
                <div class="card-body">
                    <h4 class="card-title">KITENGELA CAMPUS</h4>
                    <p class="card-category">The Kitengela Campus of KCA University, 
                        set in the rapidly growing town of Kitengela, offers a tranquil 
                        and focused learning atmosphere away from the hustle and bustle of 
                        Nairobi city. This campus is known for its spacious grounds and serene 
                        environment, ideal for academic pursuits and personal development.
                        </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href=""><i class="material-icons"></i> Apply Now >> </a> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    
                    <img  src="assets/img/western.jpg"/>
                    

                </div>
                <div class="card-body">
                    <h4 class="card-title">WESTERN CAMPUS</h4>
                    <p class="card-category">KCA University's Western Campus, 
                        located in the vibrant region of Western Kenya, brings 
                        higher education closer to the local communities in this 
                        part of the country. This campus is dedicated to providing 
                        a broad range of academic programs and professional courses 
                        designed to meet the unique needs of the region.</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                      <a href=""><i class="material-icons"></i> Apply Now >> </a> 
                       
                    </div>
                </div>
            </div>
        </div>
        
    </div>


  </div>
</div>
