.card-header  {
    
    width: 100%;
    height: 350px;
    overflow: hidden;

}

.card-header img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.card-title{
    color: black;
    font-weight: bold;
}


.stats{
    display: flex;
    justify-content: space-between;
}